.wrapper-for-header {
  position: fixed;
  z-index: 1000;
  width: 100%; }

header {
  transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
  header.header-has-background {
    transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); }

.stopper {
  height: 75px;
  width: 100%; }
  .stopper.change-height.start {
    height: 130px; }

@media only screen and (max-width: 1399.98px) {
  header .header-wrapper .right-side .call-us {
    display: none; } }

@media only screen and (max-width: 1199.98px) {
  .right-side {
    display: none; }
  header .header-wrapper .nav-menu ul.nav {
    display: none;
    border-top: 1px solid rgba(147, 149, 152, 0.3);
    background-color: #fff;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    left: 0;
    top: 129px;
    width: 100%; }
    header .header-wrapper .nav-menu ul.nav > li {
      text-align: center; }
      header .header-wrapper .nav-menu ul.nav > li a {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%; }
      header .header-wrapper .nav-menu ul.nav > li > ul {
        display: flex;
        flex-direction: column;
        position: inherit; }
  header .header-wrapper .nav-menu {
    flex-direction: row-reverse; }
    header .header-wrapper .nav-menu .nav-toggle {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      top: 17px;
      z-index: 40;
      right: 15px;
      border-radius: 5px;
      float: right;
      height: 44px;
      width: 50px;
      cursor: pointer;
      padding: 8px;
      background-color: transparent; }
      header .header-wrapper .nav-menu .nav-toggle.open {
        border: 1px solid rgba(147, 149, 152, 0.3); }
        header .header-wrapper .nav-menu .nav-toggle.open span {
          left: -5px;
          width: 40px;
          background-color: #f5855c; }
          header .header-wrapper .nav-menu .nav-toggle.open span.bottom {
            top: -1px; }
        header .header-wrapper .nav-menu .nav-toggle.open span:first-child {
          transform: rotate(45deg) translate(8.4px, 7.4px); }
        header .header-wrapper .nav-menu .nav-toggle.open span:nth-child(2) {
          width: 0;
          opacity: 0; }
        header .header-wrapper .nav-menu .nav-toggle.open span:last-child {
          transform: rotate(-45deg) translate(7.4px, -6.4px); }
      header .header-wrapper .nav-menu .nav-toggle span {
        position: relative;
        display: block;
        top: 1px;
        height: 4px;
        width: 100%;
        background-color: #f5855c;
        border-radius: 6px;
        transition: all .25s; }
    header .header-wrapper .nav-menu .lang-badge {
      margin-right: 15px; }
      header .header-wrapper .nav-menu .lang-badge::before {
        top: 9px;
        left: 11px;
        width: 16px;
        height: 16px; }
      header .header-wrapper .nav-menu .lang-badge span {
        height: 35px;
        width: 65px; }
  .mobile-menu {
    position: fixed;
    top: 84px;
    z-index: 1500;
    width: 100%; }
    .mobile-menu.height {
      top: 130px; }
    .mobile-menu ul.nav_menu {
      padding-top: 10px;
      text-align: center;
      background-color: #fff;
      transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out;
      -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); }
      .mobile-menu ul.nav_menu .button-wrapper {
        padding: 0 15px;
        flex-direction: column-reverse;
        margin-bottom: 30px; }
        .mobile-menu ul.nav_menu .button-wrapper a.button {
          font-family: "Averta Regular", sans-serif;
          font-weight: 400;
          height: 50px;
          width: 100%;
          font-size: 20px;
          margin-bottom: 15px; }
          .mobile-menu ul.nav_menu .button-wrapper a.button:first-of-type {
            margin-bottom: 0; }
    .mobile-menu li {
      display: block;
      text-align: center;
      cursor: pointer;
      transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
      .mobile-menu li:hover {
        background-color: #edebeb;
        transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
      .mobile-menu li.opens {
        background-color: #edebeb; }
        .mobile-menu li.opens a span.triangle::after {
          top: 16px;
          transition: all .25s;
          transform: rotate(-90deg); }
        .mobile-menu li.opens ul {
          background-color: #f5f5f5;
          display: block; }
      .mobile-menu li a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: "Averta Regular", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #2b2b2d;
        padding: 15px 0 15px 15px;
        position: relative; }
        .mobile-menu li a span.triangle {
          margin-right: 20px; }
          .mobile-menu li a span.triangle::after {
            content: '';
            position: absolute;
            top: 18px;
            background-image: url("../img/for-menu.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 16px;
            height: 16px;
            transition: all .25s;
            display: block; }
      .mobile-menu li ul li {
        transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
        .mobile-menu li ul li:hover {
          background-color: #f1f1f1;
          transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
        .mobile-menu li ul li a {
          display: flex;
          font-size: 18px;
          line-height: 18px;
          flex-direction: column;
          align-items: flex-start;
          font-family: "Averta Semibold", sans-serif;
          font-weight: 700;
          color: #2b2b2d;
          padding-left: 45px;
          transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
          .mobile-menu li ul li a:hover {
            color: #009a8f;
            transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; } }

@media only screen and (max-width: 616px) {
  .stopper.change-height.start {
    height: 152px; }
  .mobile-menu.height {
    top: 152px; } }

@media only screen and (max-width: 480px) {
  header .header-wrapper .logo img {
    width: 135px;
    height: 35px; }
  header .header-wrapper .nav-menu .lang-badge {
    margin-left: 0;
    margin-right: 10px; }
  footer .nav-menu-footer .wrapper-our-contacts .our-contacts {
    border-top: 1px solid #ccc;
    padding-top: 28px; } }

@media only screen and (max-width: 340px) {
  footer .nav-menu-footer ul {
    width: 100%;
    text-align: center; } }

@media only screen and (min-width: 512px) {
  footer .nav-menu-footer .wrapper-our-contacts {
    width: 280px; }
    footer .nav-menu-footer .wrapper-our-contacts .our-contacts {
      padding-top: inherit;
      border-top: inherit;
      border-bottom: inherit; } }

@media only screen and (min-width: 768px) {
  footer .nav-menu-footer .wrapper-our-contacts {
    width: 100%; }
    footer .nav-menu-footer .wrapper-our-contacts .our-contacts {
      padding-bottom: 60px; } }

@media only screen and (min-width: 992px) {
  footer .nav-menu-footer .wrapper-our-contacts {
    width: 280px; }
    footer .nav-menu-footer .wrapper-our-contacts .our-contacts {
      text-align: left; }
      footer .nav-menu-footer .wrapper-our-contacts .our-contacts .calls {
        padding-left: 30px; }
        footer .nav-menu-footer .wrapper-our-contacts .our-contacts .calls span::before {
          left: -30px; } }

@media only screen and (min-width: 1200px) {
  .stopper.change-height.start {
    height: 121px; }
  .mobile-menu {
    display: none; }
  header {
    padding: 0; }
  .nav-menu-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  ul.nav {
    display: flex;
    position: relative;
    z-index: 200;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
    ul.nav > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      padding: 30px 20px 25px 20px;
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;
      color: black;
      cursor: pointer; }
      ul.nav > li ul.dropdown {
        visibility: hidden;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-self: center;
        width: 448px;
        left: calc(50% - 224px);
        top: calc(100% - 0px);
        right: 0;
        list-style: none;
        color: black;
        border: 1px solid #e1e1e1;
        background: transparent;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s,-webkit-transform 0.2s ease-out;
        opacity: 0; }
        ul.nav > li ul.dropdown > li {
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: flex-start;
          font-size: 14px;
          cursor: pointer; }
          ul.nav > li ul.dropdown > li a {
            transition: color .2s ease-out,background-color .2s ease-out,border .2s ease-out; }
        ul.nav > li ul.dropdown span.triangle {
          position: absolute;
          width: 20px;
          height: 10px;
          top: -10px;
          left: 50%;
          transform: translate(-50%);
          overflow: hidden; }
          ul.nav > li ul.dropdown span.triangle span.triangle-body {
            width: 17px;
            height: 17px;
            border-radius: 3px;
            background: #e1e1e1;
            transform-origin: center center;
            transform: translate(-50%) rotate(45deg);
            left: 50%;
            position: absolute;
            top: 3px; }
            ul.nav > li ul.dropdown span.triangle span.triangle-body::before {
              content: '';
              width: 15px;
              height: 15px;
              border-radius: 3px;
              position: absolute;
              top: 1px;
              left: 1px;
              background: #fff; }
      ul.nav > li:hover ul.dropdown {
        visibility: visible;
        transform: translate(0, 0);
        background-color: #fff;
        border-radius: 6px;
        opacity: 1;
        z-index: 100; }
        ul.nav > li:hover ul.dropdown > li a {
          animation-name: slideInLeft;
          animation-duration: 0.3s;
          animation-fill-mode: backwards;
          -webkit-animation-fill-mode: backwards;
          transition-timing-function: ease-in-out;
          -webkit-animation-timing-function: ease-in-out; }
  @keyframes slideInLeft {
    from {
      transform: translate(-25%, 0);
      opacity: 0; }
    to {
      transform: translate(0, 0);
      opacity: 1; } }
  footer .nav-menu-footer ul {
    width: 160px; }
  footer .sub-menu {
    border-top: 1px solid #ccc;
    flex-direction: row; }
    footer .sub-menu ul {
      padding-top: 15px;
      border-top: initial; }
      footer .sub-menu ul li {
        padding: 0 8px; }
        footer .sub-menu ul li:first-child, footer .sub-menu ul li:last-child {
          padding: 0; } }

@media only screen and (min-width: 1400px) {
  .p-r-0 {
    padding-right: 0 !important; }
  .p-l-0 {
    padding-left: 0 !important; } }
